<div *ngIf="auth.user$ | async; then authenticated else guest">

</div>


<ng-template #guest>
<h3>Howdy, GUEST</h3>
<p>Login to get started...</p>

<button (click)="auth.googleSignin()">
    <i class="fa fa-google"></i> Connect Google
</button>

</ng-template>



<ng-template #authenticated>
<div *ngIf="auth.user$ | async as user">
    <h3>Howdy, {{ user.displayName }}</h3>
    <img  [src]="user.photoURL" alt="User Image Not Loaded" >
    <button mat-flat-button color="primary" class="logoutbutton" (click)="auth.signOut()">Logout</button>
</div>

<button mat-flat-button color = "primary" routerLink="/dashboard">Dashboard</button>

</ng-template>