.gym-header-image {
    background-image: url("/assets/gymImg.png");
    background-size: cover;
  }
.mat-form-field {
    margin-right: 12px;
  }
  .rightButton {
    position:absolute !important;
    right:500px;
    bottom: 43px;
  }